@model EntityLayer.Concrete.Category
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
  <div class="form-group">
      @Html.Label("Kategori Adı")
      @Html.TextBoxFor(x=>x.CategoryName)
      @Html.ValidationMessageFor(x=>x.CategoryName)
      <br />
      <br />
      @Html.Label("Açıklama Yazınız")
      @Html.TextBoxFor(x=>x.CategoryDescription)
      @Html.ValidationMessageFor(x=>x.CategoryDescription)
      <br /><br />
      <button class="btn btn-primary">Kaydet</button>
  </div>
}
@*<form class="form-group" method="post">
        <input type="text" class="form-control" name="CategoryName" placeholder="Kategori Adı" />
        <br />
        <input type="text" class="form-control" placeholder="Açıklama Giriniz" name="CategoryDescription" />
        <button class="btn btn-primary">Ekle</button>
    </form>*@
