@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Başlık Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Başlık ID")
    @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control disabled", @style = "width:20rem", @readonly = true })
    <br />
    @Html.Label("Başlık Tarihi")
    @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control disabled", @style = "width:20rem", @readonly = true })
    <br />
    @Html.Label("Yazar ID")
    @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control disabled", @style = "width:20rem", @readonly = true })
    <br />
    @Html.Label("Başlık Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>

}

